In [1]:
import pandas as pd
import json

## Load

In [2]:

# Load data
sports_df = pd.read_csv('olympics_data.csv')
sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Clean

In [3]:
# # Checking to see count of datapoints
sports_df.count()

sno        271116
ID         271116
Name       271116
Sex        271116
Age        261642
Height     210945
Weight     208241
Country    271116
NOC        271116
Games      271116
Year       271116
Season     271116
City       271116
Sport      271116
Event      271116
Medal       39783
dtype: int64

In [4]:
# Dropping NaN
sports_df = sports_df.dropna(how='any')
sports_df.count()

sno        30181
ID         30181
Name       30181
Sex        30181
Age        30181
Height     30181
Weight     30181
Country    30181
NOC        30181
Games      30181
Year       30181
Season     30181
City       30181
Sport      30181
Event      30181
Medal      30181
dtype: int64

## Female Sports

### Gold

In [5]:
# Filtering for FEMALE and Medal (GOLD)
female_sports_df = sports_df.loc[(sports_df['Sex'] =='F') & (sports_df['Medal'] =='Gold') , :]
# female_sports_df.head()

In [6]:
# # Filter for only: Basketball, , Boxing, , Cycling, Figure Skating, Gymnastics, Judo, Rowing, Snowboarding,  
# Speed Skating, Swimming,  Tennis, Volleyball,  Weightlifting, Wrestling

female_sports_df = female_sports_df[(female_sports_df.Sport != "Alpine Skiing") & 
                                    (female_sports_df.Sport != "Athletics") &
                                    (female_sports_df.Sport != "Badminton") &
                                    (female_sports_df.Sport != "Biathlon") &
                                    (female_sports_df.Sport != "Bobsleigh") &
                                    (female_sports_df.Sport != "Cross Country Skiing") &
                                    (female_sports_df.Sport != "Curling") &
                                    (female_sports_df.Sport != "Equestrianism") &
                                    (female_sports_df.Sport != "Fencing") &
                                    (female_sports_df.Sport != "Football") &
                                    (female_sports_df.Sport != "Freestyle Skiing") &
                                    (female_sports_df.Sport != "Golf") &
                                    (female_sports_df.Sport != "Handball") &
                                    (female_sports_df.Sport != "Hockey") &
                                    (female_sports_df.Sport != "Ice Hockey") &
                                    (female_sports_df.Sport != "Luge") &
                                    (female_sports_df.Sport != "Modern Pentathlon") &
                                    (female_sports_df.Sport != "Rhythmic Gymnastics") &
                                    (female_sports_df.Sport != "Rugby Sevens") &
                                    (female_sports_df.Sport != "Sailing") &
                                    (female_sports_df.Sport != "Short Track Speed Skating") &
                                    (female_sports_df.Sport != "Skeleton") &
                                    (female_sports_df.Sport != "Ski Jumping") &
                                    (female_sports_df.Sport != "Synchronized Swimming") &
                                    (female_sports_df.Sport != "Table Tennis") &
                                    (female_sports_df.Sport != "Trampolining") &
                                    (female_sports_df.Sport != "Triathlon") &
                                    (female_sports_df.Sport != "Art Competitions") &
                                    (female_sports_df.Sport != "Lacrosse") &
                                    (female_sports_df.Sport != "Nordic Combined") &
                                    (female_sports_df.Sport != "Rugby") &
                                    (female_sports_df.Sport != "Trampolining") &
                                    (female_sports_df.Sport != "Tug-Of-War") &
                                    (female_sports_df.Sport != "Water Polo") &
                                    (female_sports_df.Sport != "Shooting") &
                                    (female_sports_df.Sport != "Diving") &
                                    (female_sports_df.Sport != "Beach Volleyball") &
                                    (female_sports_df.Sport != "Softball") &
                                    (female_sports_df.Sport != "Baseball") &
                                    (female_sports_df.Sport != "Taekwondo") &
                                    (female_sports_df.Sport != "Canoeing") &
                                    (female_sports_df.Sport != "Archery") ]

female_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
1494,1494,832,Nicola Virginia Adams,F,29.0,164.0,51.0,UK,GBR,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Flyweight,Gold
1495,1495,832,Nicola Virginia Adams,F,33.0,164.0,51.0,UK,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Women's Flyweight,Gold
1668,1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1772,1772,980,"Rebecca ""Becky"" Adlington",F,19.0,179.0,70.0,UK,GBR,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 400 metres Freestyle,Gold
1773,1773,980,"Rebecca ""Becky"" Adlington",F,19.0,179.0,70.0,UK,GBR,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 800 metres Freestyle,Gold

In [7]:
# Finding Age, Height, Weight Median
events_gold_female_sports_df = female_sports_df.groupby(['Event', 'Sport'])

# Find median for Age, Height, Weight
events_gold_female_sports_df = events_gold_female_sports_df.median()
events_gold_female_sports_df = events_gold_female_sports_df[["Age", "Height", "Weight"]]
events_gold_female_sports_df

,,Age,Height,Weight
Event,Sport,,,
Basketball Women's Basketball,Basketball,26.0,185.0,74.0
Boxing Women's Flyweight,Boxing,31.0,164.0,51.0
Boxing Women's Lightweight,Boxing,24.5,166.5,60.0
Boxing Women's Middleweight,Boxing,19.0,175.0,75.0
Cycling Women's 500 metres Time Trial,Cycling,24.5,166.5,70.0
...,...,...,...,...
"Wrestling Women's Flyweight, Freestyle",Wrestling,24.5,155.0,48.0
"Wrestling Women's Heavyweight, Freestyle",Wrestling,20.5,174.5,73.5
"Wrestling Women's Light-Heavyweight, Freestyle",Wrestling,21.0,159.0,69.0
"Wrestling Women's Lightweight, Freestyle",Wrestling,27.0,157.0,55.0
"Wrestling Women's Middleweight, Freestyle",Wrestling,22.5,166.0,61.0

In [8]:
# Reset index
events_gold_female_sports_df = events_gold_female_sports_df.reset_index(level=['Event', 'Sport'])
events_gold_female_sports_df

,Event,Sport,Age,Height,Weight
0,Basketball Women's Basketball,Basketball,26.0,185.0,74.0
1,Boxing Women's Flyweight,Boxing,31.0,164.0,51.0
2,Boxing Women's Lightweight,Boxing,24.5,166.5,60.0
3,Boxing Women's Middleweight,Boxing,19.0,175.0,75.0
4,Cycling Women's 500 metres Time Trial,Cycling,24.5,166.5,70.0
...,...,...,...,...,...
84,"Wrestling Women's Flyweight, Freestyle",Wrestling,24.5,155.0,48.0
85,"Wrestling Women's Heavyweight, Freestyle",Wrestling,20.5,174.5,73.5
86,"Wrestling Women's Light-Heavyweight, Freestyle",Wrestling,21.0,159.0,69.0
87,"Wrestling Women's Lightweight, Freestyle",Wrestling,27.0,157.0,55.0
88,"Wrestling Women's Middleweight, Freestyle",Wrestling,22.5,166.0,61.0

In [9]:
# Rename columns
events_gold_female_sports_df = events_gold_female_sports_df.rename(columns = {'Event': 'event',
                                                                             'Sport': 'sport',
                                                                             'Age': 'age',
                                                                             'Height': 'height',
                                                                             'Weight': 'weight'})

events_gold_female_sports_df = events_gold_female_sports_df[['event', 'age', 'height', 'weight', 'sport']]
events_gold_female_sports_df

,event,age,height,weight,sport
0,Basketball Women's Basketball,26.0,185.0,74.0,Basketball
1,Boxing Women's Flyweight,31.0,164.0,51.0,Boxing
2,Boxing Women's Lightweight,24.5,166.5,60.0,Boxing
3,Boxing Women's Middleweight,19.0,175.0,75.0,Boxing
4,Cycling Women's 500 metres Time Trial,24.5,166.5,70.0,Cycling
...,...,...,...,...,...
84,"Wrestling Women's Flyweight, Freestyle",24.5,155.0,48.0,Wrestling
85,"Wrestling Women's Heavyweight, Freestyle",20.5,174.5,73.5,Wrestling
86,"Wrestling Women's Light-Heavyweight, Freestyle",21.0,159.0,69.0,Wrestling
87,"Wrestling Women's Lightweight, Freestyle",27.0,157.0,55.0,Wrestling
88,"Wrestling Women's Middleweight, Freestyle",22.5,166.0,61.0,Wrestling

In [10]:
# Saving into a JSON file
events_gold_female_sports_df.to_json('static/assets/data/female_bodycomp_age.json', orient='records')

## Male Sports

### Gold

In [11]:
# Filtering for MALE and Medal (GOLD)

male_sports_df = sports_df.loc[(sports_df['Sex'] =='M') & (sports_df['Medal'] =='Gold') , :]
# male_sports_df.head()

In [12]:
# Filter for only: Basketball, , Boxing, , Cycling, Figure Skating, Gymnastics, Judo, Rowing, Snowboarding,  
# Speed Skating, Swimming,  Tennis, Volleyball,  Weightlifting, Wrestling

male_sports_df = male_sports_df[(male_sports_df.Sport != "Alpine Skiing") & 
                                    (male_sports_df.Sport != "Athletics") &
                                    (male_sports_df.Sport != "Badminton") &
                                    (male_sports_df.Sport != "Biathlon") &
                                    (male_sports_df.Sport != "Bobsleigh") &
                                    (male_sports_df.Sport != "Cross Country Skiing") &
                                    (male_sports_df.Sport != "Curling") &
                                    (male_sports_df.Sport != "Equestrianism") &
                                    (male_sports_df.Sport != "Fencing") &
                                    (male_sports_df.Sport != "Football") &
                                    (male_sports_df.Sport != "Freestyle Skiing") &
                                    (male_sports_df.Sport != "Golf") &
                                    (male_sports_df.Sport != "Handball") &
                                    (male_sports_df.Sport != "Hockey") &
                                    (male_sports_df.Sport != "Ice Hockey") &
                                    (male_sports_df.Sport != "Luge") &
                                    (male_sports_df.Sport != "Modern Pentathlon") &
                                    (male_sports_df.Sport != "Rhythmic Gymnastics") &
                                    (male_sports_df.Sport != "Rugby Sevens") &
                                    (male_sports_df.Sport != "Sailing") &
                                    (male_sports_df.Sport != "Short Track Speed Skating") &
                                    (male_sports_df.Sport != "Skeleton") &
                                    (male_sports_df.Sport != "Ski Jumping") &
                                    (male_sports_df.Sport != "Synchronized Swimming") &
                                    (male_sports_df.Sport != "Table Tennis") &
                                    (male_sports_df.Sport != "Trampolining") &
                                    (male_sports_df.Sport != "Triathlon") &
                                    (male_sports_df.Sport != "Art Competitions") &
                                    (male_sports_df.Sport != "Lacrosse") &
                                    (male_sports_df.Sport != "Nordic Combined") &
                                    (male_sports_df.Sport != "Rugby") &
                                    (male_sports_df.Sport != "Trampolining") &
                                    (male_sports_df.Sport != "Tug-Of-War") &
                                    (male_sports_df.Sport != "Water Polo") &
                                (male_sports_df.Sport != "Shooting") &
                                (male_sports_df.Sport != "Diving") &
                                (male_sports_df.Sport != "Beach Volleyball") &
                                (male_sports_df.Sport != "Softball") &
                                (male_sports_df.Sport != "Baseball") &
                                (male_sports_df.Sport != "Taekwondo") &
                                (male_sports_df.Sport != "Canoeing") &
                               (male_sports_df.Sport != "Archery") ]

# male_sports_df.head()

In [13]:
             
# Filtering for FEMALE and Medal (GOLD)
data_gold_male_sports_df = male_sports_df.loc[(male_sports_df['Event'] =="Wrestling Men's Light-Flyweight, Freestyle")  , :]
data_gold_male_sports_df = data_gold_male_sports_df.sort_values(['Weight'], ascending=[True])
data_gold_male_sports_df

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
56419,56419,28904,Roman Mikhaylovich Dmitriyev,M,23.0,154.0,48.0,Russia,URS,1972 Summer,1972,Summer,Munich,Wrestling,"Wrestling Men's Light-Flyweight, Freestyle",Gold
103592,103592,52412,Khasan Murselov Isaev,M,23.0,155.0,48.0,Bulgaria,BUL,1976 Summer,1976,Summer,Montreal,Wrestling,"Wrestling Men's Light-Flyweight, Freestyle",Gold
190943,190943,95901,Claudio Pollio,M,22.0,158.0,48.0,Italy,ITA,1980 Summer,1980,Summer,Moskva,Wrestling,"Wrestling Men's Light-Flyweight, Freestyle",Gold
257726,257726,129073,"Robert Brooks ""Bobby"" Weaver",M,25.0,157.0,48.0,USA,USA,1984 Summer,1984,Summer,Los Angeles,Wrestling,"Wrestling Men's Light-Flyweight, Freestyle",Gold
121996,121996,61678,Takashi Kobayashi,M,25.0,153.0,52.0,Japan,JPN,1988 Summer,1988,Summer,Seoul,Wrestling,"Wrestling Men's Light-Flyweight, Freestyle",Gold
118612,118612,60005,Kim Il-Ong,M,20.0,158.0,54.0,North Korea,PRK,1992 Summer,1992,Summer,Barcelona,Wrestling,"Wrestling Men's Light-Flyweight, Freestyle",Gold
118613,118613,60005,Kim Il-Ong,M,24.0,158.0,54.0,North Korea,PRK,1996 Summer,1996,Summer,Atlanta,Wrestling,"Wrestling Men's Light-Flyweight, Freestyle",Gold

In [14]:
# Finding Age, Height, Weight Median
events_gold_male_sports_df = male_sports_df.groupby(['Event','Sport'])

# Find median for Age, Height, Weight
events_gold_male_sports_df = events_gold_male_sports_df.median()
events_gold_male_sports_df = events_gold_male_sports_df[["Age", "Height", "Weight"]]
events_gold_male_sports_df

,,Age,Height,Weight
Event,Sport,,,
Basketball Men's Basketball,Basketball,25.0,198.0,95.0
Boxing Men's Bantamweight,Boxing,22.0,165.5,54.0
Boxing Men's Featherweight,Boxing,20.0,168.0,57.0
Boxing Men's Flyweight,Boxing,22.0,165.0,51.0
Boxing Men's Heavyweight,Boxing,24.0,190.0,91.0
...,...,...,...,...
"Wrestling Men's Super-Heavyweight, Freestyle",Wrestling,27.0,190.0,120.0
"Wrestling Men's Super-Heavyweight, Greco-Roman",Wrestling,26.0,193.0,117.5
"Wrestling Men's Unlimited Class, Greco-Roman",Wrestling,26.0,159.0,70.0
"Wrestling Men's Welterweight, Freestyle",Wrestling,25.0,171.0,73.5
"Wrestling Men's Welterweight, Greco-Roman",Wrestling,25.5,173.0,74.5

In [15]:
# Reset index
events_gold_male_sports_df = events_gold_male_sports_df.reset_index(level=['Event','Sport'])
events_gold_male_sports_df

,Event,Sport,Age,Height,Weight
0,Basketball Men's Basketball,Basketball,25.0,198.0,95.0
1,Boxing Men's Bantamweight,Boxing,22.0,165.5,54.0
2,Boxing Men's Featherweight,Boxing,20.0,168.0,57.0
3,Boxing Men's Flyweight,Boxing,22.0,165.0,51.0
4,Boxing Men's Heavyweight,Boxing,24.0,190.0,91.0
...,...,...,...,...,...
132,"Wrestling Men's Super-Heavyweight, Freestyle",Wrestling,27.0,190.0,120.0
133,"Wrestling Men's Super-Heavyweight, Greco-Roman",Wrestling,26.0,193.0,117.5
134,"Wrestling Men's Unlimited Class, Greco-Roman",Wrestling,26.0,159.0,70.0
135,"Wrestling Men's Welterweight, Freestyle",Wrestling,25.0,171.0,73.5
136,"Wrestling Men's Welterweight, Greco-Roman",Wrestling,25.5,173.0,74.5

In [16]:
# Rename columns
events_gold_male_sports_df = events_gold_male_sports_df.rename(columns = {'Event': 'event',
                                                                             'Sport': 'sport',
                                                                             'Age': 'age',
                                                                             'Height': 'height',
                                                                             'Weight': 'weight'})

events_gold_male_sports_df = events_gold_male_sports_df[['event', 'age', 'height', 'weight', 'sport']]
events_gold_male_sports_df

,event,age,height,weight,sport
0,Basketball Men's Basketball,25.0,198.0,95.0,Basketball
1,Boxing Men's Bantamweight,22.0,165.5,54.0,Boxing
2,Boxing Men's Featherweight,20.0,168.0,57.0,Boxing
3,Boxing Men's Flyweight,22.0,165.0,51.0,Boxing
4,Boxing Men's Heavyweight,24.0,190.0,91.0,Boxing
...,...,...,...,...,...
132,"Wrestling Men's Super-Heavyweight, Freestyle",27.0,190.0,120.0,Wrestling
133,"Wrestling Men's Super-Heavyweight, Greco-Roman",26.0,193.0,117.5,Wrestling
134,"Wrestling Men's Unlimited Class, Greco-Roman",26.0,159.0,70.0,Wrestling
135,"Wrestling Men's Welterweight, Freestyle",25.0,171.0,73.5,Wrestling
136,"Wrestling Men's Welterweight, Greco-Roman",25.5,173.0,74.5,Wrestling

In [17]:
# Saving into a JSON file
events_gold_male_sports_df.to_json('static/assets/data/male_bodycomp_age.json', orient='records')